* {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  color: #00FF00; /* Bright green color */
  background-color: #000000; /* Black background */
}

button {
  padding: 12px;
  color: #00FF00; /* Bright green color */
  border: 2px solid #00FF00; /* Thicker border */
  background-color: #1C1C1C; /* Dark grey background */
  border-radius: 4px; /* Rounded corners */
}

label {
  border: 2px solid #00FF00; /* Thicker border */
  padding: 12px;
  display: inline-block;
  border-radius: 4px; /* Rounded corners */
}

input {
  width: 240px;
  padding: 12px;
  color: #FFFFFF; /* White text */
  border: 2px solid #00FF00; /* Thicker border */
  outline: none;
  background-color: #1C1C1C; /* Dark grey background */
  border-radius: 4px; /* Rounded corners */
}

#new-box-button {
  margin: 12px;
}

#color-form {
  margin: 12px;
}

#box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Gap between boxes */
}

.box {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 2px solid #00FF00; /* Thicker border */
  background-color: #1C1C1C; /* Dark grey background */
  border-radius: 4px; /* Rounded corners */
  color: #00FF00; /* Bright green text color */
}
